S3method("[",fdsample)
S3method("[<-",fdsample)
S3method(mean,fdsample)
S3method(median,fdsample)
S3method(plot,fdenvelope)
S3method(print,fdsample)
S3method(quantile,fdsample)
S3method(summaryplot,fdsample)
export("[<-.fdsample")
export(apply.fdsample)
export(defaultoptions.fdsample)
export(fdsample)
export(is.fdsample)
export(plot.fdsample)
export(pwEnvelope)
export(rangexy.fdsample)
export(tL2.permtest)
export(uniquelist)
export(unusedoptions)
export(yrange)
import(plutils)
import(plyr)
import(stats)
