S3method("$",funsample)
S3method("$<-",funsample)
S3method("[",fdsample)
S3method("[<-",fdsample)
S3method(c,funsample)
S3method(mean,fdsample)
S3method(median,fdsample)
S3method(plot,envtest)
S3method(plot,fdenvelope)
S3method(print,fdsample)
S3method(quantile,fdsample)
export("[<-.fdsample")
export(apply.fdsample)
export(defaultoptions.fdsample)
export(fdsample)
export(funsample)
export(is.fdsample)
export(is.funsample)
export(is.urfunction)
export(plot.fdsample)
export(pwEnvelope)
export(rangexy.fdsample)
export(rankEnv.test)
export(summaryplot)
export(tL2.permtest)
export(uniquelist)
export(unusedoptions)
export(urfunction)
export(yrange)
import(plutils)
import(plyr)
import(stats)
