S3method("[",ppsample)
S3method("[",sostyppp)
S3method("[<-",sostyppp)
S3method(as.sostyppp,ppp)
S3method(as.sostyppp,sostyppp)
S3method(backtransformed,ppsample)
S3method(backtransformed,sostyppp)
S3method(coordTransform,im)
S3method(coordTransform,owin)
S3method(coordTransform,ppp)
S3method(intensity,ppsample)
S3method(npoints,ppsample)
S3method(plot,ppsample)
S3method(print,sostyppp)
export("[<-.sostyppp")
export("currentType<-")
export(DeltaKdir.est)
export(K.est)
export(L.est)
export(as.sostyppp)
export(backtransformed)
export(backtransformed.ppsample)
export(backtransformed.sostyppp)
export(coordTransform)
export(currentType)
export(edgecross.Ripley)
export(estK)
export(estL)
export(extract.fdsample)
export(fv.on.quadrats)
export(getIntensity)
export(hasType)
export(homogeneous)
export(identxy)
export(is.ppsample)
export(is.sostyppp)
export(lsclosepairs)
export(lspairdist)
export(normalizedIntensity)
export(plot.sostest)
export(plot.sostyppp)
export(ppsubsample)
export(quadratsplot)
export(refinepoly)
export(rescaled)
export(retransformed)
export(reweighted)
export(setplotstyle)
export(sos.test)
export(sostatpp.options)
export(twoquadsets)
export(twosample.K.test)
import(fdnonpar)
import(plutils)
import(plyr)
import(spatstat)
useDynLib(sostatpp)
