S3method("[",sostyppp)
S3method("[<-",sostyppp)
S3method(as.sostyppp,ppp)
S3method(as.sostyppp,sostyppp)
S3method(coordTransform,im)
S3method(coordTransform,owin)
S3method(coordTransform,ppp)
S3method(plot,eoqlist)
S3method(print,sostyppp)
export("[<-.sostyppp")
export(Kpermute.test)
export(as.sostyppp)
export(ashomogeneous)
export(backtransformed)
export(coordTransform)
export(currenttype)
export(edgecross.Ripley)
export(estDeltaKdir)
export(estK)
export(estL)
export(estOnQuadrats)
export(getIntensity)
export(has.type)
export(identxy)
export(is.sostyppp)
export(lsclosepairs)
export(lspairdist)
export(normalizedIntensity)
export(quadratsplot)
export(refinepoly)
export(rescaled)
export(retransformed)
export(reweighted)
import(fdnonpar)
import(plyr)
import(spatstat)
useDynLib(sostatpp)
