export("[<-.sostpp")
export(as.sostpp)
export(ashomogeneous)
export(backtransformed)
export(coordTransform)
export(currenttype)
export(DeltaKdir)
export(edgecross.Ripley)
export(estK)
export(estL)
export(estOnQuadrats)
export(getIntensity)
export(has.type)
export(identxy)
export(is.sostpp)
export(Kpermute.test)
export(lsclosepairs)
export(lspairdist)
export(normalizedIntensity)
export(quadratsplot)
export(refinepoly)
export(rescaled)
export(retransformed)
export(reweighted)
import(fdnonpar)
import(plyr)
import(spatstat)
S3method("[",sostpp)
S3method("[<-",sostpp)
S3method(as.sostpp,ppp)
S3method(as.sostpp,sostpp)
S3method(coordTransform,im)
S3method(coordTransform,owin)
S3method(coordTransform,ppp)
S3method(plot,eoqlist)
S3method(print,sostpp)
useDynLib(sostatpp)
